name: bluebuild
on:
  schedule:
    - cron: "00 06 * * *"
  push:
    paths-ignore:
      - "**.md"
  pull_request:
  workflow_dispatch:
jobs:
  bluebuild:
    name: Build stevio-os image for ${{ matrix.build-info.arch }}
    runs-on: ${{ matrix.build-info.runner }}
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        build-info:
          # - recipe: recipe-arm64.yml
          #   arch: arm64
          #   runner: ubuntu-24.04-arm
          - recipe: recipe-amd64.yml
            arch: amd64
            runner: ubuntu-latest
    steps:
      - name: Build image for ${{ matrix.build-info.arch }}
        uses: blue-build/github-action@v1.10.2
        with:
          cli_version: v0.9.24
          recipe: ${{ matrix.build-info.recipe }}
          cosign_private_key: ${{ secrets.SIGNING_SECRET }}
          registry_token: ${{ github.token }}
          pr_event_number: ${{ github.event.number }}
          build_opts: --platform linux/${{ matrix.build-info.arch }}
          maximize_build_space: true
